{% extends 'main/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div id="login-wrap">
  <h2>ログイン</h2>
  <div id="login-form">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="input-col">
          <label>ユーザ名</label>
          {{ form.username.errors }}
          <input type="text" id="username" name="username">
      </div>
      <div class="input-col">
          <label>パスワード</label>
          {{ form.password.errors }}
          <input type="password" id="password" name="password">
      </div>
      <div class="btn-area">
        <button type="submit" class="btn">ログイン</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}